/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: tomato; */
}

/* Button Styles */
button {
  width: 120px;
  border: none;
  cursor: pointer;
  background: none;
  display: inline-block;
  font-weight: 400;
  font-size: large;
}

button:hover,
button:active {
  text-decoration: underline;
}

/* Navigation */
nav {
  text-align: right;
  margin-top: 10px;
}

/* Header */
.homeheader {
  font-size: 11rem;
  color: black;
  font-weight: bold;
}

/* Main Page Layout */
.mainpagediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image */
img.mainpageImg {
  width: 200px;
}

.fork-imge {
  width: 50px;
  margin-left: 10px;
}

/* Menu Grid */
.menugrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* gap: 10px; */
}

/* Menu Item Styles */
.foodDescription {
  font-weight: 300;
}

.menu-list {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.food {
  padding: 1em;
  border-bottom: 1px solid rgb(184, 175, 175);
}

.food:last-child {
  border-bottom: none;
}

.food:hover {
  background-color: #f6a05c21;
  cursor: pointer;
}

.breakfast,
.main-course {
  border-right: 1px solid rgb(184, 175, 175);
}

.title {
  font-size: 1.5em;
  color: #ea8e49;
  text-align: center;
  border-bottom: 1px solid rgb(184, 175, 175);
}

/* About Page */
.header {
  font-size: 1.5em;
  color: #ea8e49;
}

.about-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin-top: 100px;
}

.card {
  outline: 1px solid #c6c1c19b;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-weight: 300;
}

/* Media Queries */
@media (max-width: 1024px) {
  nav {
    text-align: center;
  }

  .mainpagediv {
    display: flex;
    flex-wrap: wrap;
  }

  .homeheader {
    font-size: 8rem;
    text-align: center;
  }

  img.mainpageImg {
    width: 151px;
  }

  button {
    width: 90px;
  }

  .breakfast,
  .main-course {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .homeheader {
    font-size: 6rem;
  }

  button {
    width: 90px;
  }
}
